<app-navbar></app-navbar>

<div class="container">

<router-outlet></router-outlet>
</div>
















<!-- 
<div class="text-center">
  <favorite></favorite>
</div>
<div class="container">
<div class="row"></div>
  <div class="col-md-12">
    <div  *ngIf="posts.length;then withpost else noPost"></div>
   <ng-template #withpost>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">VOTE</th>
          <th class="text-center">FAVORITE</th>
          <th class="text-center">ID</th>
          <th class="text-center">TITLE</th>
          <th class="text-center">DESCRIPTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts ;index as i;even as e"> 
        
            <td class="text-center">
              {{e}}-{{i}}
                <vote [like]="post.vote.up" [dislike]="post.vote.down" ></vote>
              </td>
          <td class="text-center">
            <favorite [etat]="post.favorite" (changeetat)="mymethode($event,post)"> 
              
            </favorite>
          </td>
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.decription}}</td>
          <td class="text-right">  
            <a href="" class="btn btn-info btn-sm "><i class="fa fa-eye"></i> </a>
            <a href="" class="btn btn-warning btn-sm "><i class="fa fa-pencil"></i> </a> 
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
    <ng-template #noPost >
    <div class="alert alert-warning"> no post</div>
</ng-template>
// <div class="alert alert-warning"  *ngIf="!posts.length"> vide</div> //
</div> -->
